<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand content" href="index">QUIZ Manager 2.0</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="form-group mymargin">
  <h4>Create Quiz</h4><br/>
  <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/login'">Login as a Teacher</button>
</div>
<div class="form-group mymargin">
  <h4>Take Quiz</h4><br/>
  <button type="button" class="btn btn-secondary btn-lg" onclick="window.location.href='/slogin'">Login as a Student</button>
</div>
<div>
<label class="form-text text-muted mymargin">Not yet a member? You are few steps away!</label>
<button type="button" class="btn btn-warning btn-lg mymargin" onclick="window.location.href='/register'">Sign Up Now</button>
</div>