<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand content" href="index">QUIZ Manager 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="login">Create Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="slogin">Take Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
        </ul>
    </div>
</nav>

<div>
    <div class="card text-white bg-secondary mb-3 mymargin2" style="max-width: 20rem;" onclick="window.location.href='/student'">
        <div class="card-header">Java Quiz</div>
        <div class="card-body">
          <h4 class="card-title">Defualt quiz created.</h4>
          <p class="card-text">MCQ questions that are added and can be added in this module using the following buttons.</p>
        </div>
      </div>

    <button type="button" class="btn btn-primary mymargin3">Add Questions</button>
    <button type="button" class="btn btn-info mymargin3">View and Edit</button>
    <button type="button" class="btn btn-danger">Delete</button>
</div>
