<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand content" href="index">QUIZ Manager 2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Create Quiz</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="slogin">Take Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
        </ul>
    </div>
</nav>

<div class="content">
    <label>Java Quiz</label>
</div>

<div>
    <legend id="questionid">Question 1: Which of the following is not OOPS concept in Java?</legend>
    <fieldset class="form-group">
        <legend>Options:</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="option1" value="option1">
            a. Inheritance
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="option2" value="option2">
            b. Encapsulation
          </label>
        </div>
        <div class="form-check disabled">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="option3" value="option3">
            c. Polymorphism
          </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optionsRadios" id="option3" value="option3">
                d. Compilation
              </label>
            </div>
      </fieldset>
      <button type="button" class="btn btn-info mymargin3">Next</button>
</div>
